.header a{
    
    float: right;
}
.header {
    text-align: center;
   
}

.clearfix:after{
    clear: both;
    content: "";
    display: block;
}
.content{
    text-align: center
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
